// Font Face Declarations

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../../assets/fonts/HelveticaNeueLTProLt.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../../assets/fonts/HelveticaNeueLTProLtIt.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../../assets/fonts/HelveticaNeueLTProRoman.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../../assets/fonts/HelveticaNeueLTProIt.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../../assets/fonts/HelveticaNeueLTProMd.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../../assets/fonts/HelveticaNeueLTProMdIt.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../../assets/fonts/HelveticaNeueLTProBd.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro';
  src: url('../../assets/fonts/HelveticaNeueLTProBdIt.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
