.hero-section .hero-image {
  position: relative;
  overflow: hidden;
}
.hero-section .hero-image > img {
  height: 100vh;
}
.hero-section .hero-image .overlay {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  padding: 8.25rem 0 6rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.hero-section .hero-image .overlay .overlay-bottom .hero-content {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.hero-section .hero-image .overlay .overlay-bottom .hero-content h5 {
  color: var(--basic-white);
  font-family: var(--font-family-helvetica-now);
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%;
  /* 1.03125rem */
  text-transform: uppercase;
  margin: 0;
}
.hero-section .hero-image .overlay .overlay-bottom .hero-content h1 {
  color: var(--basic-white, #FFF);
  /* h1 sans */
  font-family: var(--font-family-helvetica-now);
  font-size: 5.625rem;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  /* 5.625rem */
  letter-spacing: -0.16875rem;
  margin: 0;
}
.hero-section .hero-image .overlay .overlay-bottom .hero-content h1 span {
  font-family: var(--TRJN-DaVinci-Medium-It);
}
.hero-section .hero-image .overlay .overlay-bottom .hero-content p {
  color: var(--basic-white);
  text-align: center;
  font-family: var(--font-family-helvetica-now);
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
  /* 1.75rem */
  letter-spacing: -0.0375rem;
  margin: 0;
}
.hero-section .hero-image .overlay .overlay-bottom .divider {
  height: 0.0625rem;
  width: 9.0625rem;
  transform: rotate(90Deg);
  background: var(--basic-white);
  position: absolute;
  bottom: -1rem;
  left: 0;
  right: 0;
  margin: auto;
}
.news-listing-page .hero-section .hero-image .overlay {
  padding: 8rem 1.5rem 7.25rem;
  position: relative;
  background: var(--primary-dark-grey);
  width: 100%;
  color: var(--basic-white);
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}
.home-page .hero-section .overlay {
  align-items: center;
  height: 100%;
  justify-content: space-between;
  padding: 23vh 0 1rem;
}
.home-page .hero-section .overlay .container-fluid {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.home-page .hero-section .overlay .container-fluid .logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-page .hero-section .overlay .container-fluid .logo object,
.home-page .hero-section .overlay .container-fluid .logo img {
  object-fit: cover;
  height: 12.74875rem;
}
.home-page .hero-section .overlay .container-fluid h1 {
  color: var(--basic-white);
  font-family: var(--font-family-helvetica-now);
  font-size: 9.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 90%;
  /* 8.4375rem */
  letter-spacing: -0.375rem;
  text-transform: uppercase;
}
.home-page .hero-section .overlay .container-fluid h1 i {
  color: var(--basic-white);
  text-align: right;
  leading-trim: both;
  text-edge: cap;
  font-family: var(--TRJN-DaVinci-Medium-It);
  font-size: 8.75rem;
  font-style: italic;
  font-weight: 500;
  line-height: 90%;
  /* 7.875rem */
  letter-spacing: -0.525rem;
  text-transform: uppercase;
}
.home-page .hero-section .overlay .container-fluid .right-block {
  text-align: right;
}
