{% load wagtailcore_tags wagtailimages_tags %}

<section class="about-nav-cards-section position-relative section {{ value.css_class }}">
    <div class="container-fluid">
        <div class="about-nav-cards">
            <div class="row" data-gsap-children='{".about-nav-card":{"type":"card-row-stagger", "start":"top 70%", "stagger":"0.15"}}' data-gsap-children-mobile='{".about-nav-card":{"type":"card-row-stagger", "start":"top 80%", "stagger":"0.2"}}'>
                {% if value.start_from_second %}
                <div class="col-6 col-md-6 col-lg-3"></div>
                {% endif %}
                {% for item in value.items %}
                <div class="col-6 col-md-6 col-lg-3 about-nav-card">
                    <div class="about-nav-card-image">
                        {% image item.image original as img %}
                        <img src="{{ img.url }}" alt="{{ item.title }}" class="w-100 h-100" loading="lazy" onerror="this.style.display='none'">
                    </div>
                    <h5>{{ item.title }}</h5>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
