{% load wagtailcore_tags wagtailimages_tags %}
<section class="section card-grid-with-title-and-text {{ value.css_class }} {{ value.top_padding }} {{ value.bottom_padding }}">
    <div class="container-fluid">
        {% if value.title %}
        <h3>{{ value.title|safe }}</h3>
        {% endif %}
        <div class="image-cards with-overlay-content">
            <div class="owl-carousel">
                {% for item in value.items %}
                <div class="item">
                    <a href="{{ item.href.url }}">
                        <div class="image-wrap">
                            {% image item.image original as img %}
                            {% if item.video_url %}
                            <img src="{{img.url}}" alt="" class="full">
                            <video style="display: none;" class="video-js full" muted playsinline data-setup="{}" poster="{{img.url}}">
                                <source src="{{item.video_url}}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                            {% else %}
                            <img src="{{img.url}}" alt="" class="full">
                            {% endif %}
                            <div class="overlay">
                                <div class="card-content">
                                    {% if item.video_url %}
                                    <div class="icon video-play-btn"><i class="fa-solid fa-circle-play"></i></div>
                                    {% endif %}
                                    <h3>{{ item.title|safe }}</h3>
                                    <p>{{ item.text|safe }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row custom-owl-btns">
            <div class="col-lg-6">
                {% if value.button.text %}
                <div class="btn-wrap">
                    {% include_block value.button %}
                </div>
                {% endif %}
            </div>
            <div class="col-lg-6 flex-end">
                <div class="owl-nav">
                    <button type="button" role="presentation" class="custom-owl-prev"></button>
                    <button type="button" role="presentation" class="custom-owl-next"></button>
                </div>
            </div>
        </div>
    </div>
</section>