{% load wagtailcore_tags %}

<section class="internal-local-nav position-relative section {% if value.alignment == 'center' %}align-center{% else %}align-left{% endif %} {{ value.css_class }}">
    <div class="container-fluid">
        <div class="internal-local-nav-tabs" data-gsap-children='{"a":{"type":"fade-in","stagger":"0.08"}}'>
            {% for item in value.items %}
                {% if item.href and item.href.is_url %}
                <a href="{{ item.href.url }}" {{ item.href.target }} class="btn-rounded-large-outline internal-local-nav-tab">{{ item.label }}</a>
                {% else %}
                <a href="#" class="btn-rounded-large-outline internal-local-nav-tab">{{ item.label }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
