{% load wagtailcore_tags wagtailimages_tags %}
<div class="profile-wrap">
    <div class="signature">
        {% image value.signature original as img %}
        <img src="{{img.url}}">
    </div>
    <div class="profile">
        <div class="profile-pic">
            {% image value.image original as img %}
            <img src="{{img.url}}" class="full">
        </div>
        <div class="name">
            <p> {{value.name|safe}} <br>
                {{value.position|safe}}</p>
        </div>
    </div>
</div>